<a href="https://colab.research.google.com/github/bryanpurba/Coursera_Capstone/blob/master/W2_Peer_Graded_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 2
# Acquire geographical coordinates of each postal code via link csv file

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_geo = pd.read_csv('https://cocl.us/Geospatial_data')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
# Change the headers to have same name with previos dataframe (wikipedia tables)

In [4]:
df_geo.columns = ['PostalCode', 'Latitude', 'Longitude']
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

# Import previous wiki table dataframe

In [5]:
df_wiki = pd.read_csv('https://raw.githubusercontent.com/bryanpurba/Coursera_Capstone/master/wikipedia.csv', index_col=0)
df_wiki.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

# Merged the dataframes using merge method

In [6]:
df_merged = pd.merge(df_wiki, df_geo, on='PostalCode')
df_merged.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [7]:
df_merged.to_csv(r'merged.csv')